label {
	display: block;
}

code {
	font-size: 80%;
}

.desc {
	display: block;
	font-size: 0.75em;
}

form {
	max-width: 30em;
}
input {
	width: 100%;
	font-size: 1em;
}
#access-token {
}

#league-id {
	max-width: 16em;
}

.ranges {
	display: flex;

	div {
		flex: 1 1 auto;
		width: calc(50% - 2em);
		padding: 0 1em;
	}
}
