main {
	max-width: 50rem;
	margin: 0 auto;
	padding: 0 1em 4em;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td,
th {
	vertical-align: top;
	text-align: right;
	padding: 0.5em 1em;
}

td:first-of-type,
th:first-of-type {
	text-align: left;
}

thead {
	border-bottom: 1px solid;
}

tbody tr:nth-of-type(2n) {
	background-color: beige;
}
